body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 0;
    text-align: center;
    background: rgb(66, 3, 182);
    color: white;

}

ul{
    list-style-position: inside;
}

.top{
    padding: 20px;
    
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    /* font-weight: 900; */
    font-size: larger;
    color: white;
}

.addtodo{
    display: none;
}

.list{
    display: none;
}

input[type=checkbox]{
    padding-right: 2em;
}
input[type=checkbox]:checked +label.strikethrough{
    text-decoration: line-through;
    opacity: 50%;
}
.tlist{
    text-align: left;
}

#deleteButton{
    color: gray;
}
#deleteButton:hover
{
    color: red;
}